

<div class="text-center">
    <h1 class="display-4">Hola..</h1>
    <p>Prueba tecnica de banco promerica Costa Rica.</p>
</div>


<div class="text-lg-center">
    <br/><br />
    <a asp-controller="Home" asp-action="Index" 
       class="btn btn-block btn-outline-primary btn-lg" >Ver el maestro de datos</a>
</div>
